{% comment %} {% extends "layouts/empty_layout.html" %} {% endcomment %}

{% load widget_tweaks %}
{% load static %}

{% comment %} {% block title %} Update-Transaction | Finac {% endblock title %} {% endcomment %}




   

    <!--main content-->
        <div class="col-span-6">
            <h1 class="mt-4 mb-4 px-2 prose prose-2xl text-black">
                Update Transaction
            </h1>

            <form action="{% url 'update-transaction' transaction.pk %}" method="POST" enctype="multipart/form-data">

            <!--csrf-->
                {% csrf_token %}

            <!--include form items from partials-->
                {% include "partials/transaction-form.html" %}

            
            <!--submit and cancel button-->
                <div class="flex gap-2 mt-2 items-center justify-start">
                    <button type="submit" class="bg-indigo-600 hover:bg-indigo-800  text-white px-4 py-2 ms-2 mt-2 rounded">Add</button>
                    <a class="bg-orange-600 hover:bg-orange-800  text-white px-4 py-2 ms-2 mt-2 rounded" href="{{ request.META.HTTP_REFERER }}">
                        Cancel
                    </a>
                </div>
            </form>
        </div>









